
let mapleader = " "

""
"" Plugins
""
set commentary
set easymotion
set surround
set highlightedyank
set nerdtree
set which-key

""
"" Basic setup
""
set number             " Show line numbers
set relativenumber     " Show relative line numbers

""
"" Whitespace
""
set wrapscan                   " wrap a whole word to the next line

""
"" Search Settings
""
set hlsearch    " Highlight all search terms
set incsearch   " While typing a search command, show where the pattern - as it was typed - matches
set ignorecase  " Ignore case when searching
set smartcase   " Override the ignorecase option if the search pattern contains uppercase characters

""
"" Misc Settings
""
set iskeyword-=_     " Include underscores as part of keyword names
set sidescrolloff=15 " start scrolling on the side if we are 15 characters from the edge
set sidescroll=1

""
"" Ideavim settings
""
sethandler <C-C> n-v:ide i:vim       " Use ctrl-c as an ide shortcut in normal and visual modes
set ideajoin                         " Smart line joins
set idearefactormode=keep            " Use
set ideastatusicon=gray              " Keep the icon gray

" Map vim marks to IDEA global marks
set ideamarks

""
"" Base mappings
""

" Switch windows with ctrl + hjkl
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

" better HJKL
map H ^
map L $
map J }
map K {

" Jump between methods
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

""
"" Ideavim Mappings
""
nnoremap <c-x> :action HideAllWindows<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

nmap mm <Action>(ToggleBookmark)
nmap ms <Action>(ShowBookmarks)
nmap <leader>mx :delmarks A-Z<CR>

" []
nmap [b <Action>(PreviousTab)
nmap ]b <Action>(NextTab)
nmap [g <Action>(GotoPreviousError)
nmap ]g <Action>(GotoNextError)
nmap [u <Action>(GotoPrevElementUnderCaretUsage)
nmap ]u <Action>(GotoNextElementUnderCaretUsage)
nmap [o <Action>(PreviousOccurence)
nmap ]o <Action>(NextOccurence)
nmap [m <Action>(MethodUp)
nmap ]m <Action>(MethodDown)
nmap [c <Action>(JumpToLastChange)
nmap ]c <Action>(JumpToNextChange)

" collapse
nmap zz <Action>(ExpandCollapseToggleAction)
nmap za <Action>(CollapseAllRegions)
nmap zA <Action>(ExpandAllRegions)

" Search
map <leader>as :action SearchEverywhere<CR>
map <leader>af :action GotoFile<CR>
map <leader>aa :action GotoAction<CR>

" Find
map <leader>ff :action GotoFile<CR>
map <leader>fr :action RecentFiles<CR>
map <leader>fp :action FindInPath<CR>
map <leader>fl :action RecentLocations<CR>
map <leader>fs :action NewScratchFile<CR>
map <leader><leader> :action RecentFiles<CR>

" Go to code
nmap ga <Action>(GotoAction)
nmap gc <Action>(GotoClass)
nmap gf <Action>(GotoFile)
nmap gs <Action>(GotoSymbol)
nmap gt <Action>(GoToTest)
nmap gT <Action>(TextSearchAction)
nmap go <Action>(GotoSuperMethod)
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gI <Action>(QuickImplementations)
nmap gn <Action>(ShowNavBar)
nmap gu <Action>(ShowUsages)
nmap gf <Action>(Back)
nmap gb <Action>(Forward)

" Terminal
nmap <leader>tt :action ActivateTerminalToolWindow<CR>
nmap <leader>to :action Terminal.OpenInTerminal<CR>

" Display
map <leader>dd :action ToggleDistractionFreeMode<CR>
map <leader>dz :action ToggleZenMode<CR>
map <leader>dp :action TogglePresentationMode<CR>
map <leader>df :action ToggleFullScreen<CR>

" Tabs
nmap <leader>1 <Action>(GoToTab1)
nmap <leader>2 <Action>(GoToTab2)
nmap <leader>3 <Action>(GoToTab3)
nmap <leader>4 <Action>(GoToTab4)
nmap <leader>5 <Action>(GoToTab5)
nmap <leader>6 <Action>(GoToTab6)
nmap <leader>7 <Action>(GoToTab7)
nmap <leader>8 <Action>(GoToTab8)
nmap <leader>9 <Action>(GoToTab9)
nmap <leader>h :action PreviousTab<CR>
nmap <leader>l :action NextTab<CR>
nmap <leader>q :action CloseContent<CR>

map <leader>rc :action ReformatCode<CR>

" Refactoring
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

nmap <leader>wv :action SplitVertically<CR>
nmap <leader>wV :action MoveTabRight<CR>
nmap <leader>wh :action SplitHorizontally<CR>
nmap <leader>wH :action MoveTabDown<CR>
nmap <leader>wu :action Unsplit<CR>
nmap <leader>wm :action MoveEditorToOppositeTabGroup<CR>
nmap <leader>wx <Action>(MaximizeEditorInSplit)

" Jump around with easymotion
map <leader>j <Plug>(easymotion-s)

" Move lines up and down
vmap <S-J> <Action>(MoveLineDown)
vmap <S-K> <Action>(MoveLineUp)

" Debugging
nmap <leader>ec <Action>(ContextDebug)
nmap <leader>ex <Action>(Debug)
nmap <leader>eb <Action>(ToggleLineBreakpoint)
nmap <leader>ee <Action>(EditBreakpoint)
nmap <leader>ev <Action>(ViewBreakpoints)

""
"" Helpful commands
""
" gcc = (un)comment out a line

""
"" Whichkey settings
""
set notimeout
let g:WhichKeyDesc_recent_files = "<leader><leader> Recent files"

let g:WhichKeyDesc_display = "<leader>d Display options"
let g:WhichKeyDesc_dd_mode = "<leader>dd Distraction free mode"
let g:WhichKeyDesc_dz_mode = "<leader>dz Zen mode"
let g:WhichKeyDesc_dp_mode = "<leader>dp Presentation mode"
let g:WhichKeyDesc_df_mode = "<leader>df Fullscreen mode"

let g:WhichKeyDesc_search = "<leader>a Search actions"
let g:WhichKeyDesc_search_everywhere = "<leader>as Search everywhere"
let g:WhichKeyDesc_goto_file = "<leader>af Goto file"
let g:WhichKeyDesc_goto_action = "<leader>aa Goto action"

let g:WhichKeyDesc_file = "<leader>f File actions"
let g:WhichKeyDesc_find = "<leader>ff Find file"
let g:WhichKeyDesc_recent = "<leader>fr Recent files"
let g:WhichKeyDesc_find_in_path = "<leader>fp Find in path"
let g:WhichKeyDesc_recent_locations = "<leader>fl Recent locations"
let g:WhichKeyDesc_new_scratch_file = "<leader>fs New scratch file"

let g:WhichKeyDesc_window = "<leader>w Window options"
let g:WhichKeyDesc_vsplit = "<leader>wv Split vertically"
let g:WhichKeyDesc_hsplit = "<leader>wh Split horizontally"
let g:WhichKeyDesc_unsplit = "<leader>wu Unsplit"
let g:WhichKeyDesc_move = "<leader>wm Move file to opposite tab group"
let g:WhichKeyDesc_move_right = "<leader>wV Move tab right"
let g:WhichKeyDesc_move_down = "<leader>wH Move tab down"
let g:WhichKeyDesc_maximize = "<leader>wx Maximize editor in split"

let g:WhichKeyDesc_previous_tab = "<leader>h Previous tab"
let g:WhichKeyDesc_next_tab = "<leader>l Next tab"
let g:WhichKeyDesc_close_tab = "<leader>q Close tab"

let g:WhichKeyDesc_file_explorer = "<leader>x Toggle file explorer - q to close"

let g:WhichKeyDesc_terminal = "<leader>t Terminal options"
let g:WhichKeyDesc_terminal_activate = "<leader>tt Show terminal"
let g:WhichKeyDesc_terminal_open = "<leader>to Open in terminal"

let g:WhichKeyDesc_reformat = "<leader>r Reformat options"
let g:WhichKeyDesc_reformat_code = "<leader>rc Reformat code"

let g:WhichKeyDesc_jump = "<leader>j Jump"

let g:WhichKeyDesc_refactor = "<leader>r Refactor options"
let g:WhichKeyDesc_rename_element = "<leader>rn Rename element"
let g:WhichKeyDesc_extract_method = "<leader>rm Extract method"
let g:WhichKeyDesc_introduce_variable = "<leader>rv Introduce variable"
let g:WhichKeyDesc_introduce_field = "<leader>rf Introduce field"
let g:WhichKeyDesc_change_signature = "<leader>rs Change signature"
let g:WhichKeyDesc_quick_list = "<leader>rr Quick list"

let g:WhichKeyDesc_marks = "<leader>m Mark options"
let g:WhichKeyDesc_delete_marks = "<leader>mx Delete marks"

let g:WhichKeyDesc_debug = "<leader>e Debug options"
let g:WhichKeyDesc_context_debug = "<leader>ec Context debug"
let g:WhichKeyDesc_debug = "<leader>ex Debug"
let g:WhichKeyDesc_toggle_line_breakpoint = "<leader>eb Toggle line breakpoint"
let g:WhichKeyDesc_edit_breakpoint = "<leader>ee Edit breakpoint"
let g:WhichKeyDesc_view_breakpoints = "<leader>ev View breakpoints"
